htbody {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff0707;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    font-weight: 900;
    font-style: inherit;

}

button {
    color:#000000;
    background-color: rgba(0, 174, 255, 0.842);
    margin: 0;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
}

p {
    color: #000000;
    size: 0cqb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: bold;
}
h2 {
    color: #ff0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    font-weight: 900;
    font-style: inherit;

}
h3 {
    color: #a85454;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    font-weight: 900;
    font-style: inherit;

}